volumes:
  db_dev:

networks:
  mediastack:
    external: true

services:
  security-guru-dev:
    image: security-guru:latest
    container_name: security-guru-dev
    restart: unless-stopped
    env_file:
      - .env
      - .env.development
    networks:
      - mediastack
    ports:
      - ${WEB_PORT_DEV:?err}:3333
    labels:
      - traefik.enable=true
      - traefik.http.routers.security-guru-dev.rule=Host(`securityguru-dev.${CLOUDFLARE_DNS_ZONE_DEV:?err}`)
      - traefik.http.routers.security-guru-dev.entrypoints=web
      - traefik.http.services.security-guru-dev.loadbalancer.server.scheme=http
