.title {
  font-weight: 900;
  margin-top: var(--mantine-spacing-xs);
  margin-bottom: 1.5rem;
  padding-bottom: var(--mantine-spacing-sm);
  padding-left: var(--mantine-spacing-xl);
  padding-right: var(--mantine-spacing-xl);
}

.horizontallyMovingTitle {
  opacity: 0;

  @media (prefers-reduced-motion) {
    opacity: 1;
  }

  @media (prefers-reduced-motion: no-preference) {
    transform: scaleX(0.9);
    transition-property: opacity transform;
    transition-duration: 0.2s;
  }
}

.horizontallyMovingTitle.left {
  transform-origin: left center 0;
}

.horizontallyMovingTitle.right {
  transform-origin: right center 0;
}

.horizontallyMovingTitle.mounted {
  opacity: 1;
  transform: scaleX(1);
}
