@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  --breakpoint-xs: 36em;
  --breakpoint-sm: 48em;
  --breakpoint-md: 62em;
  --breakpoint-lg: 75em;
  --breakpoint-xl: 88em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--mantine-color-background);
}
