.grid {
  max-width: var(--mantine-breakpoint-xl);
  align-self: center;
  padding-block: calc(var(--mantine-spacing-xl) * 2);

  @media (max-width: $mantine-breakpoint-md) {
    padding-block: var(--mantine-spacing-xl);
  }
}

.description {
  color: var(--mantine-color-dark-6);
  text-align: center;
}
